*{
  margin: 0;
  padding: 0;
  overflow: visible;
}



:root {
  padding-left: 150px;
  padding-right: 150px;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 198, 255) rgb(255, 255, 255);
  overflow: auto;
}

:root::-webkit-scrollbar-thumb {
  background-color: #050c26; /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 3px solid #050c26; /* Оформление границ бегунка */
}

